body {
    background-color: burlywood;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: yellow
}

a {
    color: yellow
}

a:hover {
    color: red;
}

a:active {
    color: brown;
}

main, h2 {
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}
figure {
    text-align: center;
    font-style: italic;
}
li, .contract {
    text-align: left;
}
