<header>
    <h1>FTS Productions</h1>
    <div class="container">

    <div class="card">
      <h2>Gallery One</h2>
      <a href="gallery1.html">View Gallery</a>
    </div>

    <div class="card">
      <h2>Gallery Two</h2>
      <a href="gallery2.html">View Gallery</a>
    </div>

    <div class="card">
      <h2>Interest Form</h2>
      <a href="about.html">Sign Up</a>
    </div>
    <div class="card">
      <h2>Upcoming Projects</h2>
      <a href="gallery3.html">Learn More</a>
    </div>
    <div class="card">
      <h2>About FTS</h2>
      <a href="client.html">Learn More</a>
    </div>

  </div>
</header>