
<header>
    <div class="headerrow">
    <div class="headerimage">
  <img src="images/fts_render_home2.png" alt="logo">
  </div>
    <h1>FTS Productions</h1>
    </div>
    <div class="container">

    <div class="card">
      <a href="index.html">Home</a>
    </div>

    <div class="card">
      <a href="gallery1.html">2024 Gallery</a>
    </div>

    <div class="card">
      <a href="gallery2.html">2025 Gallery</a>
    </div>

    <div class="card">
      <a href="form.html">Interest Form</a>
    </div>
    <div class="card">
      <a href="upcoming.html">Upcoming Events</a>
    </div>
    <div class="card">
      <a href="about.html">About FTS</a>
    </div>


  </div>
</header>