/** https://coolors.co/ca054d-3b1c32-a4d4b4-ffcf9c-b96d40
**/


@media only screen and (min-width: 480px) {
    main{
        width: 80%;
    }

}

@media only screen and (resolution: 300dpi) {
    main{
        width: 90%;
    }

}

@media only screen and (min-width: 992px) {
    main{
        width: 100%;
    }
}


body {
    background-color: #0d1638;
    color: #FFCF9C;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-weight: bold;
    color: #CA054D;
    text-align: center;
}
h2 {
    color: #c54e7a;
    text-align: center;
}
img {
    max-width: 250px;
    max-height: 250px;
}
footer > nav, footer > a {
    height: 5px;;
}

    body {
      margin: 0;
      background-color: #111;
      color: white;
    }

    header {
      padding: 40px 20px;
      text-align: center;
      border-bottom: 2px solid #444;
      
    }

    header h1 {
      margin: 0;
      font-size: 42px;
    }

    header p {
      font-size: 18px;
      margin-top: 10px;
      color: #ccc;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
      gap: 5px;
      padding: 10px;
      max-width: 1200px;
      margin: auto;
    }

    .card {
      background: #222;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      transition: 0.3s;
      border: 1px solid #333;
    }

    .card:hover {
      background: #333;
      transform: translateY(-5px);
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      display: block;
      font-size: 15px;
      margin-top: 10px;
    }
    a:hover {
        color: red;
        transform: scale(1.2);
        transition: 0.3s;
    }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    

}

.headerimage, .headerimage img{
    width: 60px;
}
.headerimage {
    border: 2px solid gold;
}

.headerrow {
padding-left: 15px;
  display: flex;
  align-items: center;    /* keeps text + image aligned vertically */
  gap: 16px;              /* spacing between text and image */
}

.borderimage {
      margin: 20px auto;
      width: 250px;        
  aspect-ratio: 1 / 1;   
  border: 4px solid gold;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 

    }
    .bordertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      margin: 20px auto;
      width: 250px;        
    }
    .blue {
      color: rgb(109, 109, 218);
    }
    .spacer {
        padding: 5px;
        border: 3px solid gold;  
    }
        .bordertextyellow {
    display: flex;
    border: 2px solid gold;  
    justify-content: center;
    align-items: center;
      margin: 20px auto;
      width: 150px;        
      height: 35px;
    }