/** https://coolors.co/ca054d-3b1c32-a4d4b4-ffcf9c-b96d40
**/


@media only screen and (min-width: 480px) {
    main{
        width: 80%;
    }

}

@media only screen and (resolution: 300dpi) {
    main{
        width: 90%;
    }

}

@media only screen and (min-width: 992px) {
    main{
        width: 100%;
    }
}


body {
    background-image: linear-gradient(90deg,#3B1C32, #0d1638);
    color: #FFCF9C;
    font-family: sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-weight: bold;
    color: #CA054D;
    text-align: center;
}
h2 {
    color: #c54e7a;
}
img {
    max-width: 250px;
    max-height: 250px;
}



header {
    border: 2px inset #3B1C32;
    border-radius: 5px;
    padding: 6px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #134611;
    padding-top: 5px;
    

}
footer > nav, footer > a {
    height: 5px;;
}

