<footer>
        <nav>
        <a href="https://webpages.charlotte.edu/mscott82/itis3135/">UNCC Webspace</a>
        |
        <a href="https://github.com/mscott82-dotcom/mscott82-dotcom.github.io">Github</a>
        |
        <a href="https://mscott82-dotcom.github.io/itis3135">Github.io</a>
        |
        <a href="https://www.freecodecamp.org/mscott82">FreeCodeCamp</a>
        |
        <a href="https://www.codecademy.com/profiles/code0681180444">Codeacademy</a>
        |
        <a href="https://www.linkedin.com/in/matthew-scott-998752340/">LinkedIn</a>
        |
        <a href="magnificent-sealion/index.html">Magnificent Sealion</a>
        </nav>
        <p>Page built by <a href="scottenterprises.com\index.html">Scott Enterprises </a>&copy;2025</p>
        <script>
            document.getElementById("validation_link_html").setAttribute("href","https://jigsaw.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/check?uri=" + location.href);
        </script>
    </footer>